<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Libre+Franklin|Lobster|Old+Standard+TT|Poiret+One|Satisfy" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/index.css">
  <link rel="shortcut icon" href="#">
  <title>Document</title>
</head>
<body>
    <header class="container-fluid">
        <div class="header-image header-menu">
            <div class="top-container-holder">
                <div class="table-header">
                  <div class="row-header">
                    <!--  -->
                    <div class="cell-header">
                        <nav class="navbar navbar-expand-lg transparency">
                            <div class="container ">
                                <a class="navbar-brand main-logo menu-text-coloration" href="#">e<span class="ess">s</span>Kimo events</a>
                                <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                                      <span class="navbar-toggler-icon hamburger-button"></span>
                                                    </button>
            
                                <div class="collapse navbar-collapse search-padding" id="navbarTogglerDemo02">
                                    <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-menu-padding font-weight-bold">
                                        <li class="nav-item active">
                                            <a class="nav-link menu-text-coloration" href="index.html">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link menu-text-coloration" href="#">About</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle menu-text-coloration" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Types of Events</a>
                                            <div class="dropdown-menu dark-menu">
                                                <a class="dropdown-item menu-text-coloration" href="birthdays.html">Birthdays</a>
                                                <a class="dropdown-item menu-text-coloration" href="class.html">Class Reunions</a>
                                                <a class="dropdown-item menu-text-coloration" href="fundraiser.html">Crowdfunding</a>
                                                <a class="dropdown-item menu-text-coloration" href="family.html">Family Reunions</a>
                                                <a class="dropdown-item menu-text-coloration" href="graduation.html">Graduations</a>
                                                <a class="dropdown-item menu-text-coloration" href="wedding.html">Wedding</a>
                                            </div>
                                        </li>
                                        <!-- <a class="btn btn-primary" href="#" role="button">Link</a> -->
                                        <li class="nav-item active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-outline-success my-2 my-sm-0 font-weight-bold" href="signin.html" role="button">Sign In</a></li>
                                    </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!--  -->
                  </div>
                  <div class="row-header">
                    <!-- 000 -->
                      <div class="cell-header">
                        
                      </div>
                      <!-- 000 -->
                    </div>
                </div>
            </div>  
            <div class="bottom-container-holder">
                <div class="container">
                    <div class="jumbotron buttom-container text-center form-control-text text-light font-weight-bold">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque commodi optio nulla dolore animi in veritatis fuga culpa! Sequi magnam libero recusandae officia dolore eos voluptates nobis accusamus. Nemo, earum.</p><br>
                        <a class="btn btn-outline-info my-2 my-sm-0 font-weight-bold" href="signup.html" role="button">Getting Started</a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <main>
      <div class="container-fliud">
        <div class="row d-flex justify-content-center">
          <div class="text-light">
            <br>
            <h4 class="font-weight-bold">Choose an Event or Fundraiser</h4>
            <br>
          </div>
        </div>
        <div class="row">
          <!--  -->
          <div class="container d-flex justify-content-center">
              <div class="row">
                <div class="col-sm">
                    <div class="row d-flex justify-content-center">
                        <div class="card" style="width: 20rem;">
                            <a href="birthdays.html">
                              <img class="card-img-top card-img-bottom" src="images/birthday.jpg" alt="Card image cap">
                            </a>
                        </div>
                        <div class="summary">
                            <a class="top-recipe-header" href="birthdays.html">Birthdays</a>
                            <p class="text-white"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row d-flex justify-content-center">
                        <div class="card" style="width: 20rem;">
                          <a href="class.html">
                            <img class="card-img-top card-img-bottom" src="images/class.jpg" alt="Card image cap">
                          </a>
                        </div>
                        <div class="summary">
                            <a class="top-recipe-header" href="class.html">Class Reunions</a>
                            <p class="text-white"></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm">
                    <div class="row d-flex justify-content-center">
                        <div class="card" style="width: 20rem;">
                          <a href="fundraiser.html">
                            <img class="card-img-top card-img-bottom" src="images/funds.jpg" alt="Card image cap">
                          </a>
                        </div>
                        <div class="summary">
                            <a class="top-recipe-header" href="fundraiser.html">Crowdfunding</a>
                            <p class="text-white"></p>
                        </div>
                    </div>
                </div>
              </div>
            </div>
            <!-- 0000000000 -->
            <div class="container d-flex justify-content-center">
                <div class="row">
                  <div class="col-sm">
                      <div class="row d-flex justify-content-center">
                          <div class="card" style="width: 20rem;">
                            <a href="family.html">
                              <img class="card-img-top card-img-bottom" src="images/family.jpg" alt="Card image cap">
                            </a>
                          </div>
                          <div class="summary">
                              <a class="top-recipe-header" href="family.html">Family Reunions</a>
                              <p class="text-white"></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="row d-flex justify-content-center">
                          <div class="card" style="width: 20rem;">
                            <a href="graduation.html">
                              <img class="card-img-top card-img-bottom" src="images/grad.jpg" alt="Card image cap">
                            </a>
                          </div>
                          <div class="summary">
                              <a class="top-recipe-header" href="graduation.html">Graduations</a>
                              <p class="text-white"></p>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm">
                      <div class="row d-flex justify-content-center">
                          <div class="card" style="width: 20rem;">
                            <a href="wedding.html">
                              <img class="card-img-top card-img-bottom ultimate" src="images/wedding.jpg" alt="Card image cap">
                            </a>
                          </div>
                          <div class="summary">
                              <a class="top-recipe-header" href="wedding.html">Wedding</a>
                              <p class="text-white"></p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
          <!--  -->  
        </div>
      </div>

    </main>

    <footer>
        <div class="row">
            <div class="footer-container">
                <div class="container text-light">
                    esKimo Events &copy;2017, Andela 21 Project.
                </div>
            </div>
        </div>
    </footer>

  <script src="https://use.fontawesome.com/bcb6ad3812.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="../dist/scripts/index.js"></script>
</body>
</html>