<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Libre+Franklin|Lobster|Old+Standard+TT|Poiret+One|Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Arya|Text+Me+One" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/signup.css">
  <title>Welcome to esKimo Events</title>
</head>
<body>
  <header>
    <div class="container-fluid">
        <div class="navbar-wrapper1">
            <nav class="navbar navbar-expand-lg navbar-light bg-define-color">
                <a class="navbar-brand title-link" href="#">esKimo events</a>
                <button class="navbar-toggler hamburger-button-color" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
                    <ul class="nav">
                        <li class="nav-item">
                          <a class="nav-link active menu-item" href="index.html">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link menu-item" href="signin.html">Sign in</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link menu-item" href="signup.html">Sign up</a>
                        </li>
                      </ul>
                </div>
              </nav>
        </div>
    </div>
  </header>
  
  <main>
      <div class="header-image">
        <img class="modimage" src="images/4.jpg" alt="" width="100%" height="100%">
        <div class="container-fluid absolute-text">
        </div>
      </div>
      <div class="container-fluid signup">
        <form class="transparency footer-text">
          <div class="row">
              <div class="text-head-small make-text-bold margin-add add-padding-text welcome-text">Sign Up</div>
              <div class="text-head-small make-text-bold margin-add add-padding-text">Complete all fields as required</div>
          </div>
          <div class="row">
             <div class="container text-input-margin">
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                    </div>
                </div>
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp" placeholder="Enter first name">
                        </div>
                    </div>
                </div>
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp" placeholder="Enter last name">
                        </div>
                    </div>
                </div>
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter username">
                        </div>
                    </div>
                </div>
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter password">
                        </div>
                    </div>
                </div>
                <div class="row content-justify-center">
                    <div class="col">
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Validate password">
                        </div>
                    </div>
                </div>

                <div class="row content-justify-center">
                        <div class="col">
                                <div class="form-check">
                                        <label class="form-check-label">
                                        <input type="checkbox" class="form-check-input">
                                            <span class="shrink-text text-light">I accept <a href="#" class="text-success">terms</a> &amp; <a href="#" class="text-success">conditions</a> and privacy <a href="#" class="text-success">policy</a></span>
                                        </label>
                                    </div>
                        </div>
                    </div>
                    <div class="row content-justify-center">
                        <div class="col">
                                <button type="submit" class="btn btn-success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Sign Up&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
                        </div>
                    </div>
             </div>
          </div>  
        </form>
      </div>
      <div class="white-space"></div>
  </main>

  <footer class="bg-define-color footer-text">
    <div class="container-fluid">
      <div class="row">
          <div class="col-12 col-md-8">
            <div class="container">
              <div class="row">
                <p class="footer-head-center">About</p>
              </div>
              <div class="row footer-head-content">
                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta error in sapiente odit sit praesentium! Sapiente magnam tempore porro, quis provident aperiam quas nulla mollitia nam, laborum dolorum quia eaque. 
              </div>
            </div>
          </div>
          <div class="col-12 col-md-4">
            <div class="row"><p class="footer-head-center">Connect</p></div>
            <div class="row footer-head-content">
              <div class="col"><span><a href="#"><i class="connect-icon fa fa-facebook-official fa-2x" aria-hidden="true"></i></a></span></div>
              <div class="col"><span><a href="#"><i class="connect-icon fa fa-instagram fa-2x" aria-hidden="true"></i></a></span></div>
              <div class="col"><span><a href="#"><i class="connect-icon fa fa-twitter-square fa-2x" aria-hidden="true"></i></a></span></div>
            </div>
          </div>
      </div>
      <div class="row copyright">
            esKimo events &copy;2017.
      </div>
    </div>
  </footer>
  <script src="https://use.fontawesome.com/bcb6ad3812.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>