* {
  font-family: 'Old Standard TT', serif;
  font-size: 102.5%;
  /* background: #fff; */
}

body {
  width: 100%;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: rgba(54, 53, 53, 0.8);
}

main {
  flex: 1 0 auto;
}

.header-menu {
  position: relative;
  /* filter: brightness(80%); */
}

.header-image {
  height: 600px;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url(../images/1.jpg) center center no-repeat;
  /* background: #ddd; */
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.transparency {
  position: absolute;
  width: 100%;
  top: 0px;
  background-color: rgba(54, 53, 53, 0.6)
}

.top-container-holder {
  position: absolute;
  width: 100%;
  top: 0px;
  /* background-color: red; */
}

.bottom-container-holder {
  position: absolute;
  width: 100%;
  bottom: 40px;
}

.buttom-container {
  background-color: rgba(54, 53, 53, 0.6)
}

.dark-menu{
  background-color: rgba(54, 53, 53, 1)
}

.main-logo {
  font-size: 300%;
  font-family: 'Lobster', cursive;
}

.table-header{
  display: table;
  width: 100%;
}

.row-header{
  display: table-row;
}

.cell-head{
  display: table-cell;
}

/* .search-padding {
  width: 100%;
} */

.nav-menu-padding {
  margin-left: 200px;
}

.hamburger-button {
  /* filter: brightness(100%); */
  background-color: rgba(0, 0, 0, 0.0)
}

.menu-text-coloration {
  color: #fff;
}

.menu-text-coloration:hover {
  color: #ff1744;
}

a.menu-text-coloration .ess {
  font-family: 'Lobster', cursive;
  color: blue;
}

.footer-container {
  width: 100%;
  background-color: rgba(54, 53, 53, 0.5);
  padding-top: 20px;
  padding-bottom: 20px;
}

.tbl-icon {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.row-icon {
  display: table-row;
}

.cell-icon {
  display: table-cell;
  display: inline-flex;
  padding: 0px 7px;
}

.jumbotron-edited {
  padding: 2rem 1rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
}

.card-body-edited {
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 0.5rem;
}

.card {
  margin: 4px;
  background-color: #666;
}

.card:hover {
  background-color: #f7617f;
}

img {
  margin: auto;
  max-width: 100%;
}

.summary {
  margin-top: 10px;
  text-align: center;
}

.summary a:link,
.summary a:visited {
  font-family: cursive;
  font-weight: bolder;
  color: #fff;
}

.summary a:hover {
  text-decoration: none;
  color: #f7617f;
}

.content-area{
  margin: auto;
}

.para-text{
  padding-left: 40px;
  padding-right: 40px;
}