<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Cookie|Libre+Franklin|Lobster|Old+Standard+TT|Poiret+One|Satisfy" rel="stylesheet">
  <link rel="stylesheet" href="css/main.css">
  <link rel="stylesheet" href="css/wedding.css">
  <link rel="shortcut icon" href="#">
  <title>Document</title>
</head>
<body>
    <header class="container-fluid">
        <div class="wedding-image header-menu">
            <div class="top-container-holder">
                <div class="table-header">
                  <div class="row-header">
                    <!--  -->
                    <div class="cell-header">
                        <nav class="navbar navbar-expand-lg transparency">
                            <div class="container ">
                                <a class="navbar-brand main-logo menu-text-coloration" href="#">e<span class="ess">s</span>Kimo events</a>
                                <button class="navbar-toggler hamburger-button" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                                                      <span class="navbar-toggler-icon hamburger-button"></span>
                                                    </button>
            
                                <div class="collapse navbar-collapse search-padding" id="navbarTogglerDemo02">
                                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0 nav-menu-padding font-weight-bold">
                                                <li class="nav-item active">
                                                    <a class="nav-link menu-text-coloration" href="index.html">Home <span class="sr-only">(current)</span></a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link menu-text-coloration" href="#">About</a>
                                                </li>
                                                <li class="nav-item dropdown">
                                                    <a class="nav-link dropdown-toggle menu-text-coloration" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Types of Events</a>
                                                    <div class="dropdown-menu dark-menu">
                                                        <a class="dropdown-item menu-text-coloration" href="birthdays.html">Birthdays</a>
                                                        <a class="dropdown-item menu-text-coloration" href="class.html">Class Reunions</a>
                                                        <a class="dropdown-item menu-text-coloration" href="fundraiser.html">Crowdfunding</a>
                                                        <a class="dropdown-item menu-text-coloration" href="family.html">Family Reunions</a>
                                                        <a class="dropdown-item menu-text-coloration" href="graduation.html">Graduations</a>
                                                        <a class="dropdown-item menu-text-coloration" href="wedding.html">Wedding</a>
                                                    </div>
                                                </li>
                                                <li class="nav-item active">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-outline-success my-2 my-sm-0 font-weight-bold" type="submit">Sign In</button></li>
                                            </ul>
                                </div>
                            </div>
                        </nav>
                    </div>
                    <!--  -->
                  </div>
                  <div class="row-header">
                    <!-- 000 -->
                      <div class="cell-header">
                        
                      </div>
                      <!-- 000 -->
                    </div>
                </div>
            </div>  
            <br><br><br><br><br><br><br><br>
            <div class="content-area">
                <div class="container">
                   <div class="text-region buttom-container text-light">
                        <h3 class="font-weight-bold change-font">Wedding Ceremony Made Easy</h3>
                        <p class="para-text">We're going to make your wedding ceremony a success and make you look like a genius...</p>
                        <button class="btn btn-outline-light my-2 my-sm-0 font-weight-bold" type="submit">Start now. It's Free</button>
                   </div>
                </div>
            </div>
        </div>
    </header>

    <main>

    </main>

    <footer>
        <div class="row">
            <div class="footer-container">
                <div class="container text-light">
                    esKimo Events &copy;2017, Andela 21 Project.
                </div>
            </div>
        </div>
    </footer>

  <script src="https://use.fontawesome.com/bcb6ad3812.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="../dist/scripts/index.js"></script>
</body>
</html>